 <div class="header">
    <div class="container">
        <ul class="nav">
            <li class="logo">Ruth</li>
            <li>About</li>
            <li>Work</li>
            <li>Team</li>
            <li>Contact</li>
        </ul>
    </div>
</div>


<div class="jumbotron">
    <div class="container">
        <h1 class="whitetext">Hi there.</h1>
        <h2 class="whitetext">You've reached Ruth's Portfolio site.</h2>
        <p class="whitetext">I'm a designer with a little bit of front-end magic.</p>
        <button class="btn btn-default" type="button">View my work</button>
    </div>
</div>

<div class="footer">
    <a href="#"> <%= image_tag "github17.svg" %> GitHub</a>
    <a href="#"><%= image_tag "linkedin1.svg" %> LinkedIn</a>
    <a href="#"><%= image_tag "social71.svg" %> Twitter</a>
    <a href="#">&copy2015</a>
</div>

