<div class="jumbotron">
    <div class="container">
        <h1 class="whitetext">Hi there.</h1>
        <h2 class="whitetext">You've reached Ruth's Portfolio site.</h2>
        <p class="whitetext">I'm a designer with a little bit of front-end magic.</p>
        <a class="btn btn-default" href="<%= portfolio_path %>" type="button">View my work</a>
    </div>
</div>


