.header {
  background-color: #333333;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.jumbotron {
  background: url("https://unsplash.imgix.net/photo-1418479631014-8cbf89db3431?q=75&fm=jpg&s=478a9a2196033db7c0bf3c8ba3707f4d") no-repeat center center;
  background-size: cover;
  height: 400px;
  color: #fff;
} 

.nav {
  margin: 0;
  padding: 15px 15px 15px 0px;
}

.nav li {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 12px;
  display: inline;
  padding-right: 20px;
}

.whitetext {
  color: #fff;
}

.btn {
  margin: 0px;
  color: purple;
  padding: 10px 15px;
  background-color: fff;
}

a {
  padding-left: 30px;
}

.footer {
  margin: 0px;
  padding-bottom: 20px;
}

